{% include '/_Parts/htmlHeader.twig' %}

{% include '/_Parts/mainMenu.twig' %}

{% include '/_Parts/breadcrumb.twig' %}

{% block pageHeadline %}{% include '/_Parts/pageHeader.twig' %}{% endblock %}

{% block main %}

	<div class="container" style="min-height: 400px;">
		<div class="row">
			<div class="hidden-xs col-md-4">
				{% block sidebar %}{% include '/_Parts/sidebar.twig' %}{% endblock %}
			</div>
			<div class="col-xs-12 col-md-8">
				 {% block content %}{% endblock %}
			</div>
		</div>
	</div>

{% endblock %}

{% include '/_Parts/footerMenu.twig' %}

{% include '/_Parts/htmlFooter.twig' %}